.admin-container {
    display: flex;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-section {
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    flex: 1;
}

hr {
    margin: 0 30px 12px 0;
}

.order-main-section-table {
    margin-top: 20px;
}